<h1>New vehicle</h1>
<p>
  {{vehicle| json}}
</p>
<form (ngSubmit)="submit()" #f="ngForm" >
  <h2></h2>
  <div class="form-group">
    <label for="make">Make</label>
    <select name="makeId" id="makeId" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" required #make="ngModel">
      <option value=""></option>
      <option *ngFor="let m of makes" value={{m.id}}>{{m.name}}</option>
    </select>

    <div class="alert alert-danger" *ngIf="make.touched && !make.valid" > Please specify the make.</div>
  </div>
  <h2></h2>
  <div class="form-group">
    <label for="" id="model">Model</label>
    <select name="modelId" id="modelId" class="form-control" [(ngModel)]="vehicle.modelId">
      <option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</option>
    </select>
  </div>

  <label for="registered" class="radio-inline">
    <input name="isRegistered" type="radio" value="true" id="registered" [(ngModel)]="vehicle.isRegistered" > Yes
  </label>
  <label for="notregistered" class="radio-inline">
    <input name="vehicle.isRegistered" type="radio" value="false" id="notregistered" [(ngModel)]="vehicle.isRegistered"> No
  </label>

  <h2>Features</h2>
  <ng-container *ngIf="features && features.length" name="features">
  <div class="checkbox" *ngFor="let f of features; let i = index" >
    <label for="feature{{f.id}}">
      <input  name="feature{{f.id}}" type="checkbox" id="feature{{f.id}}" value={{f.id}} (change)="onFeatureToggle(f.id, $event)"> {{f.name}}
    </label>
  </div>
</ng-container>

  <h2>Contact</h2>
  <div class="form-group"><label for="contactName">Name</label>
    <input name="contactName" id="contactName" type="text" class="form-control" [(ngModel)]="vehicle.contact.name" required #contactName="ngModel">
    <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid" > Please specify the name.</div>
  </div>
  <div class="form-group"><label for="contatctPhone">Phone</label>
    <input name="contatctPhone" id="contatctPhone" type="text" class="form-control" [(ngModel)]="vehicle.contact.phone" required #contactPhone="ngModel">
    <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid" > Please specify the phone.</div>
  </div>
  <div class="form-group"><label for="contactEmail">Email</label>
    <input name="contactEmail" id="contactEmail" type="text" class="form-control" [(ngModel)]="vehicle.contact.email" required #contactEmail="ngModel">
    <div class="alert alert-danger" *ngIf="contactEmail.touched && !contactEmail.valid" > Please specify the email.</div>
  </div>
  <button class="btn btn-primary" >Save</button>
</form>
