<p>
  vehicle-details-hull works! {{identifer}}
</p>

<ul class="nav nav-tabs">
  <li class="nav-item"><a routerLink="details" routerLinkActive="nav-link active"  [routerLinkActiveOptions]="{exact: true}" href="#">details</a></li>
  <li class="nav-item"><a routerLink="photo" routerLinkActive="nav-link active" href="#">photo</a></li>
  <li class="nav-item"><a routerLink="edit" routerLinkActive="nav-link active" href="#">edit</a></li>
  <li class="nav-item"><a routerLink="/vehicles" routerLinkActive="router-link-active" href="#" >view all</a></li>
</ul>
<router-outlet></router-outlet>