<a [routerLink]="['/vehicles/new']" routerLinkActive="router-link-active"><button class="btn btn-primary">new vehicle</button></a>

<div class="well">
    <div class="form-group">
        <label for="ddlMakes">
          makes
        </label>
        <select name="ddlMakes" id="ddlMake" class="form-control" [(ngModel)]="filter.filtering" (change)="filterByMake()">
          <option value=""></option>
          <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
        </select>
      </div>
      <button class="btn btn-default" (click)="onResetFilter()" >Reset</button>
</div>

<table *ngIf="vehicles" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Model</th>
      <th>Make</th>
      <th>Contact name</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles">
      <td>{{v.id}}</td>
      <td>{{v.make.name}}</td>
      <td>{{v.model.name}}</td>
      <td>{{v.contact.name}}</td>
      <td><a routerLink='/vehicle/{{v.id}}/details' routerLinkActive="router-link-active"><button class="btn btn-primary">View</button></a></td>
    </tr>
</table>
